@mixin article_base{

  @include mq(sm) {
    padding: 12px;
  }
  * {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0px;
    }
    @include mq(sm) {
      margin-bottom: 16px;
    }
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul {
    margin-left: 40px;
    margin-right: 40px;
    @include mq(sm) {
      margin-left: 0px;
      margin-right: 0px;
    }
    color: $color-textcolorblack;
  }

  li {
    list-style: auto;
  }
  figure {
    padding: 0px 40px;
    @include mq(sm) {
      padding: 0px;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  iframe {
    @include defaultPCwidth;
    width: 100%;
    @include mq(sm) {
      height: 200px;
    }
  }
  p {
    @include font-text;
  }
  h2 {
    @include font-articleh-2;
  }
  h3 {
    @include font-articleh-3;
  }
  a {
    color: $color-textcolorblack;
    // text-decoration: none;
    text-decoration: underline;
    -webkit-text-decoration-color: $color-textcolorblack;
    text-decoration-color: $color-textcolorblack;
    &:hover {
      color: $color-linkcolor;
      -webkit-text-decoration-color: $color-linkcolor;
      text-decoration-color: $color-linkcolor;
    }
  }

}
