html{
  font-size: 8px;
}
p,li,a,h1,h2{
  @include font-text
  line-height: normal;
}

i{
  color: $color-textcolorblack;
}
li{
  list-style-type: none;
}


input[type="text"],
input[type="password"],
textarea,
select {
    outline: none;
      border: none;
}

body{
  background: $color-background;
}
button{
  padding: 0px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
a{
  cursor: pointer !important;
  color: $color-textcolorblack;
  text-decoration: none;
}
p{
  @include font-textbold;
}
h2{
  @include font-cardtitle;
}
*{
  background-repeat: no-repeat;
  background-size: cover;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display:none;
}
.material-icons {
  font-size: 16px;
}
img{
  pointer-events: none;
}
#__nuxt{
  overflow-x: hidden;
}
.container{
  margin-top: 84px;
}
.item{
  &:hover{
    opacity: 0.7;
  }
}
.feature{
  width: 100vw;
}

.pages {
  width: $default-size;
  padding: 16px 0 48px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  @include mq(sm) {
    width: $default-size-sp;
    flex-direction: column;
  }
  &__title {
    text-align: center;
    @include font-title;
  }
  &__body {
    background: $color-textcolorwhite;
    height: 100%;
    width: 775px;
    box-sizing: border-box;
    padding: 30px;
    @include gap-bottom(30px);
    @include mq(sm) {
      width: $default-size-sp;
    }
  }
  &__link {
    display: flex;
    &--image {
      width: 300px;
      height: 200px;
      -o-object-fit: cover;
      object-fit: cover;
      margin-right: 30px;
    }
    &--category {
      color: $color-textsecondary;
    }
    &__textbox {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding: 8px;
    }
    &__tags {
      display: flex;
      margin-top: auto;
      justify-content: space-between;
      width: 100%;
      p,
      a {
        color: $color-textsecondary;
      }
    }
  }
}
