$color-textcolorblack: rgba(51,51,51,1);
$color-textcolorwhite: rgba(255,255,255,1);
$color-textsecondary: rgba(170,170,170,1);
$color-background: rgba(244,244,244,1);
$color-black: rgba(0,0,0,1);
$color-sns-twitter: rgba(29,161,242,1);
$color-sns-facebook: rgba(59,89,152,1);
$color-sns-instagram: rgba(228,64,95,1);
@mixin font-title {
	font-size:30px;
	font-family:"Noto Sans JP";
	font-weight:bold;
  color:$color-textcolorblack;
}
@mixin font-cardtitle {
	font-size:18px;
	font-family:"Noto Sans JP";
	font-weight:bold;
  color:$color-textcolorblack;
}
@mixin font-text {
	font-size:14px;
	font-family:"Noto Sans JP";
	font-weight:normal;
	line-height:1.7em;
  color:$color-textcolorblack;
}
@mixin font-textbold {
	font-size:14px;
	font-family:"Noto Sans JP";
	font-weight:bold;
	line-height:1.7em;
  color:$color-textcolorblack;
}
@mixin font-textunderline {
	font-size:14px;
	font-family:"Noto Sans JP";
	font-weight:normal;
	line-height:1.7em;
  color:$color-textcolorblack;
}
@mixin font-minifytext {
	font-size:10px;
	font-family:"Noto Sans JP";
	font-weight:normal;
	line-height:1.7em;
  color:$color-textcolorblack;
}
@mixin font-minifytextbold {
	font-size:12px;
	font-family:"Noto Sans JP";
	font-weight:bold;
	line-height:1.7em;
  color:$color-textcolorblack;
}
@mixin font-tagtitle {
	font-size:16px;
	font-family:"Noto Sans JP";
	font-weight:bold;
  color:$color-textcolorblack;
}
@mixin font-codetext {
	font-size:14px;
	font-family:"SF Compact Display";
	font-weight:normal;
	line-height:200px;
  color:$color-textcolorblack;
}

$default-size:1080px;
$default-size-sp:100%;


// Useragent
$breakpoints: (
  'sm': 'screen and (max-width: 450px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)'
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


@mixin flex-middle{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full-screen{
  height: 100vh;
  width: 100vw;
}
@mixin full-size{
  height: 100%;
  width: 100%;
}
@mixin flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin gap-right($i){
  & > * {
    margin: 0px;
    margin-right: $i !important;
    &:last-child {
      margin: 0px;
      margin-right: 0px !important;
    }
  }
}
@mixin gap-bottom($i){
  & > * {
    margin: 0px;
    margin-bottom: $i !important;
    &:last-child {
      margin: 0px;
      margin-bottom: 0px !important;
    }
  }
}

@mixin repeat-rows($i){
	display: grid;
	grid-auto-rows: auto;
	grid-gap: $i;
	grid-auto-flow: column;
}

@mixin repeat-columns($i){
	display: grid;
	grid-auto-columns: auto;
	grid-gap: $i;
	grid-auto-flow: row;
}
@mixin defaultPCwidth{
  max-width: $default-size;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}
@mixin baseGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 360px;
  grid-gap: 40px 40px;
  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
